In [26]:
import pandas as pd
df = pd.read_json('cleaned_chadwick.json')
df = df.reset_index().drop(['index', 'main_genre'], axis = 1)

In [28]:
df.name

0                     21 Bridges
1         Avengers: Infinity War
2                    The Express
3                       Marshall
4     Captain America: Civil War
5                      Draft Day
6              Avengers: Endgame
7                  Black Panther
8                  Gods of Egypt
9                      Get on Up
10                            42
Name: name, dtype: object

In [29]:
df['role'] = ['Lead', "Support", "Support", "Lead", "Support", "Support", "Support", "Lead", "Support", "Lead", "Lead"]
df

,date,director,genres,keywords,metascore,n_critics,n_users,name,ratings,votes,gross_domestic_earnings,weekly domestic earnings,role
0,2019-11-22,Brian Kirk,"[Action, Crime, Drama, Thriller]","[[nypd, detective, police officer, new york ci...",50,42,46,21 Bridges,6.4,"1,653","$9,300,000","[('Nov 22-28', '$9,300,000')]",Lead
1,2018-04-27,Anthony Russo,"[Action, Adventure, Sci-Fi]","[[death of recurring character, superhero, sup...",68,592,"4,117",Avengers: Infinity War,8.5,"726,862","$678,815,482","[('Apr 27-May 3', '$338,332,540'), ('May 4-10'...",Support
2,2008-10-10,Gary Fleder,"[Biography, Drama, Sport]","[[john f. kennedy character, african american,...",58,85,51,The Express,7.3,"18,940","$9,793,406","[('Oct 10-16', '$6,022,760'), ('Oct 17-23', '$...",Support
3,2017-10-13,Reginald Hudlin,"[Biography, Crime, Drama, History]","[[1940s, lawyer, attorney, african american, j...",66,80,89,Marshall,7.2,"15,782","$10,051,659","[('Oct 13-19', '$3,951,991'), ('Oct 20-26', '$...",Lead
4,2016-05-06,Anthony Russo,"[Action, Adventure, Sci-Fi]","[[marvel cinematic universe, based on comic bo...",75,658,"1,344",Captain America: Civil War,7.8,"609,794","$408,084,349","[('May 6-12', '$223,329,078'), ('May 13-19', '...",Support
5,2014-04-11,Ivan Reitman,"[Drama, Sport]","[[national football league, smartphone, chevro...",54,165,146,Draft Day,6.8,"49,977","$28,842,237","[('Apr 11-17', '$13,647,787'), ('Apr 18-24', '...",Support
6,2019-04-26,Anthony Russo,"[Action, Adventure, Drama, Sci-Fi]","[[time travel, superhero, cosmic, marvel cinem...",78,533,"8,326",Avengers: Endgame,8.5,"607,189","$858,373,000","[('Apr 26-May 2', '$473,894,638'), ('May 3-9',...",Support
7,2018-02-16,Ryan Coogler,"[Action, Adventure, Sci-Fi]","[[marvel cinematic universe, marvel comics, ba...",88,664,"3,066",Black Panther,7.3,"552,280","$700,059,566","[('Feb 16-22', '$291,954,422'), ('Feb 23-Mar 1...",Lead
8,2016-02-26,Alex Proyas,"[Action, Adventure, Fantasy]","[[egypt, ancient egypt, throne, giant cobra, e...",25,211,434,Gods of Egypt,5.4,"98,031","$31,153,464","[('Feb 26-Mar 3', '$17,848,320'), ('Mar 4-10',...",Support
9,2014-08-01,Tate Taylor,"[Biography, Drama, Music]","[[based on real person, man, 20th century, afr...",71,168,113,Get on Up,6.9,"19,359","$30,703,100","[('Aug 1-7', '$17,914,610'), ('Aug 8-14', '$7,...",Lead
10,2013-04-12,Brian Helgeland,"[Biography, Drama, Sport]","[[african american man, racial integration, pr...",62,220,234,42,7.5,"79,264","$95,020,213","[('Apr 12-18', '$36,032,101'), ('Apr 19-25', '...",Lead

In [30]:
df.to_json('final_chadwick.json')

In [23]:
df.sort_values('date')

,date,director,genres,keywords,metascore,n_critics,n_users,name,ratings,votes,gross_domestic_earnings,weekly domestic earnings,main_genre,role
2,2008-10-10,Gary Fleder,"[Biography, Drama, Sport]","[[john f. kennedy character, african american,...",58,85,51,The Express,7.3,"18,940","$9,793,406","[('Oct 10-16', '$6,022,760'), ('Oct 17-23', '$...",Biography,Support
10,2013-04-12,Brian Helgeland,"[Biography, Drama, Sport]","[[african american man, racial integration, pr...",62,220,234,42,7.5,"79,264","$95,020,213","[('Apr 12-18', '$36,032,101'), ('Apr 19-25', '...",Biography,Lead
5,2014-04-11,Ivan Reitman,"[Drama, Sport]","[[national football league, smartphone, chevro...",54,165,146,Draft Day,6.8,"49,977","$28,842,237","[('Apr 11-17', '$13,647,787'), ('Apr 18-24', '...",Drama,Support
9,2014-08-01,Tate Taylor,"[Biography, Drama, Music]","[[based on real person, man, 20th century, afr...",71,168,113,Get on Up,6.9,"19,359","$30,703,100","[('Aug 1-7', '$17,914,610'), ('Aug 8-14', '$7,...",Biography,Lead
8,2016-02-26,Alex Proyas,"[Action, Adventure, Fantasy]","[[egypt, ancient egypt, throne, giant cobra, e...",25,211,434,Gods of Egypt,5.4,"98,031","$31,153,464","[('Feb 26-Mar 3', '$17,848,320'), ('Mar 4-10',...",Action,Support
4,2016-05-06,Anthony Russo,"[Action, Adventure, Sci-Fi]","[[marvel cinematic universe, based on comic bo...",75,658,"1,344",Captain America: Civil War,7.8,"609,794","$408,084,349","[('May 6-12', '$223,329,078'), ('May 13-19', '...",Action,Support
3,2017-10-13,Reginald Hudlin,"[Biography, Crime, Drama, History]","[[1940s, lawyer, attorney, african american, j...",66,80,89,Marshall,7.2,"15,782","$10,051,659","[('Oct 13-19', '$3,951,991'), ('Oct 20-26', '$...",Biography,Lead
7,2018-02-16,Ryan Coogler,"[Action, Adventure, Sci-Fi]","[[marvel cinematic universe, marvel comics, ba...",88,664,"3,066",Black Panther,7.3,"552,280","$700,059,566","[('Feb 16-22', '$291,954,422'), ('Feb 23-Mar 1...",Action,Lead
1,2018-04-27,Anthony Russo,"[Action, Adventure, Sci-Fi]","[[death of recurring character, superhero, sup...",68,592,"4,117",Avengers: Infinity War,8.5,"726,862","$678,815,482","[('Apr 27-May 3', '$338,332,540'), ('May 4-10'...",Action,Support
6,2019-04-26,Anthony Russo,"[Action, Adventure, Drama, Sci-Fi]","[[time travel, superhero, cosmic, marvel cinem...",78,533,"8,326",Avengers: Endgame,8.5,"607,189","$858,373,000","[('Apr 26-May 2', '$473,894,638'), ('May 3-9',...",Action,Support
0,2019-11-22,Brian Kirk,"[Action, Crime, Drama, Thriller]","[[nypd, detective, police officer, new york ci...",50,42,46,21 Bridges,6.4,"1,653","$9,300,000","[('Nov 22-28', '$9,300,000')]",Action,Lead

In [25]:
pd.read_json('final_chadwick.json')

,date,director,genres,keywords,metascore,n_critics,n_users,name,ratings,votes,gross_domestic_earnings,weekly domestic earnings,main_genre,role
0,2019-11-22,Brian Kirk,"[Action, Crime, Drama, Thriller]","[[nypd, detective, police officer, new york ci...",50,42,46,21 Bridges,6.4,"1,653","$9,300,000","[('Nov 22-28', '$9,300,000')]",Action,Lead
1,2018-04-27,Anthony Russo,"[Action, Adventure, Sci-Fi]","[[death of recurring character, superhero, sup...",68,592,"4,117",Avengers: Infinity War,8.5,"726,862","$678,815,482","[('Apr 27-May 3', '$338,332,540'), ('May 4-10'...",Action,Support
10,2013-04-12,Brian Helgeland,"[Biography, Drama, Sport]","[[african american man, racial integration, pr...",62,220,234,42,7.5,"79,264","$95,020,213","[('Apr 12-18', '$36,032,101'), ('Apr 19-25', '...",Biography,Lead
2,2008-10-10,Gary Fleder,"[Biography, Drama, Sport]","[[john f. kennedy character, african american,...",58,85,51,The Express,7.3,"18,940","$9,793,406","[('Oct 10-16', '$6,022,760'), ('Oct 17-23', '$...",Biography,Support
3,2017-10-13,Reginald Hudlin,"[Biography, Crime, Drama, History]","[[1940s, lawyer, attorney, african american, j...",66,80,89,Marshall,7.2,"15,782","$10,051,659","[('Oct 13-19', '$3,951,991'), ('Oct 20-26', '$...",Biography,Lead
4,2016-05-06,Anthony Russo,"[Action, Adventure, Sci-Fi]","[[marvel cinematic universe, based on comic bo...",75,658,"1,344",Captain America: Civil War,7.8,"609,794","$408,084,349","[('May 6-12', '$223,329,078'), ('May 13-19', '...",Action,Support
5,2014-04-11,Ivan Reitman,"[Drama, Sport]","[[national football league, smartphone, chevro...",54,165,146,Draft Day,6.8,"49,977","$28,842,237","[('Apr 11-17', '$13,647,787'), ('Apr 18-24', '...",Drama,Support
6,2019-04-26,Anthony Russo,"[Action, Adventure, Drama, Sci-Fi]","[[time travel, superhero, cosmic, marvel cinem...",78,533,"8,326",Avengers: Endgame,8.5,"607,189","$858,373,000","[('Apr 26-May 2', '$473,894,638'), ('May 3-9',...",Action,Support
7,2018-02-16,Ryan Coogler,"[Action, Adventure, Sci-Fi]","[[marvel cinematic universe, marvel comics, ba...",88,664,"3,066",Black Panther,7.3,"552,280","$700,059,566","[('Feb 16-22', '$291,954,422'), ('Feb 23-Mar 1...",Action,Lead
8,2016-02-26,Alex Proyas,"[Action, Adventure, Fantasy]","[[egypt, ancient egypt, throne, giant cobra, e...",25,211,434,Gods of Egypt,5.4,"98,031","$31,153,464","[('Feb 26-Mar 3', '$17,848,320'), ('Mar 4-10',...",Action,Support
9,2014-08-01,Tate Taylor,"[Biography, Drama, Music]","[[based on real person, man, 20th century, afr...",71,168,113,Get on Up,6.9,"19,359","$30,703,100","[('Aug 1-7', '$17,914,610'), ('Aug 8-14', '$7,...",Biography,Lead